<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulari bind VUE</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/73151b44f6.js" crossorigin="anonymous"></script>

    <style>
        .initially-hidden {
            display: none;
        }
        .visible {
            display: inline;
        }
    </style>
</head>
<body>
    <div style="max-width: 400px; margin:auto">
        <h1>Model VUE</h1>
        
        <div id="res"> <!-- Això és el nostre objecte VUE -->
            <input type="text" placeholder="nom" @keyup="checkNom" v-model="temp_nom">   <!-- executa la funció amb cada pulsació de tecla -->
            <span class="initially-hidden" v-bind:class="{ visible: nomVisible }">
                <i v-if="nomCorrect" style="color: green" class="fas fa-check"></i>
                <i v-else style="color: red; font-size: 1em;" class="fas fa-times"></i>
            </span><br><br>    

            <input type="text" placeholder="cognom" @keyup="checkCognom" v-model="temp_cognom">
            <span class="initially-hidden" v-bind:class="{ visible: cognomVisible }">
                <i v-if="cognomCorrect" style="color: green" class="fas fa-check"></i>
                <i v-else style="color: red; font-size: 1em;"  class="fas fa-times"></i>
            </span><br><br>

            <input type="number" placeholder="codi postal" @keyup="checkDir" v-model="temp_dir">
            <span class="initially-hidden" v-bind:class="{ visible: dirVisible }">
                <i v-if="dirCorrect" style="color: green" class="fas fa-check"></i>
                <i v-else style="color: red; font-size: 1em;"  class="fas fa-times"></i>
            </span><br><br>

            <input type="number" placeholder="telèfon" @keyup="checkTlf" v-model="temp_tlf">  
            <span class="initially-hidden" v-bind:class="{ visible: tlfVisible }">
                <i v-if="tlfCorrect" style="color: green" class="fas fa-check"></i>
                <i v-else style="color: red; font-size: 1em;"  class="fas fa-times"></i>
            </span><br><br>
            
            <button v-on:click='enviar'>Enviar</button><br><br>
            
            <div style="border: 1px black solid; padding: 1em; width: 150px">
                <p>{{ nom }} {{ cognom }} ({{ tlf }})</p>
                <p>{{ dir }}</p>
            </div>
        </div>
    </div>
    
    
    <script>
        // Construim l'objecte VUE
        var resposta = new Vue({
            el: '#res',
            data: {
                // variables que es mostran a l'HTML amb {{ }}
                nom: '',                
                cognom: '',
                dir: '',
                tlf: '',
                // variables temporals
                temp_nom: "hola",           
                temp_cognom: '',
                temp_dir: '',
                temp_tlf: '',
                // variables de validació
                nomCorrect: false,      
                cognomCorrect: false,
                dirCorrect: false,
                tlfCorrect: false,
                // variables per mostrar validació
                nomVisible: false,      
                cognomVisible: false,
                dirVisible: false,
                tlfVisible: false,
            },
            methods: {
                enviar: function(){
                    this.nom = this.temp_nom;
                    this.cognom = this.temp_cognom;
                    this.dir = this.temp_dir;
                    this.tlf = this.temp_tlf;
                },
                checkNom: function() {      // funcions per validar els diferents camps del formulari
                    this.nomVisible = true;
                    var exp = /([A-Za-zÀ-ÖØ-öø-ÿ]+\s)*[A-Za-zÀ-ÖØ-öø-ÿ]+$/;     //
                    if (exp.test(this.temp_nom)) this.nomCorrect = true;
                    else this.nomCorrect = false;

                    // Mètode de validació alternatiu (sense reg ex):

                    // var valid = "ABCDEFGHIJKLMNÑOPQRSTUVWXYZáéíóúèòïü "
                    // this.nomCorrect = true;
                    // for (const lletra of this.temp_nom) {
                    //     if (!(valid.includes(lletra) || valid.toLowerCase().includes(lletra))) this.nomCorrect = false;
                    // }
                },
                checkCognom: function() {
                    this.cognomVisible = true;
                    var exp = /([A-Za-zÀ-ÖØ-öø-ÿ]+\s)*[A-Za-zÀ-ÖØ-öø-ÿ]+$/;
                    if (exp.test(this.temp_cognom)) this.cognomCorrect = true;
                    else this.cognomCorrect = false;
                },
                checkDir: function() {
                    this.dirVisible = true;
                    if (isNaN(this.temp_dir) || String(this.temp_dir).length != 5) this.dirCorrect = false;
                    else this.dirCorrect = true;
                },
                checkTlf: function() {
                    this.tlfVisible = true;                    
                    if (isNaN(this.temp_tlf) || String(this.temp_tlf).length != 9) this.tlfCorrect = false;
                    else this.tlfCorrect = true;
                }
            }
        })
    </script>
</body>
</html>