@mixin flexCenter ($dir){     // SASS function
    display: flex;
    flex-direction: $dir;
    justify-content: space-around;
    align-items: center
}

header{
    @include flexCenter(row);   // includes SASS function
    padding: 20px 100px;
    background-color: rgba($color: #ffffff, $alpha: .6);

    h2{
        font-size: 50px;
        margin: 0;
        color: $titleColor;
    }

    img{
        height: 50px;
    }
}

footer{
    @extend header;     // inherits CSS from header
    background-color: rgba($color: #ffffff, $alpha: .1);
    padding: 40px;
    
    p{
        margin: 0;
        font-size: small;
        color:  $textColor;
    }
}