@import "./colors";         // imports separated SCSS
@import "./header-footer";
@import "./deck";

body {
    background-color: $backColor;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.cont{
    max-width: 1024px;
    margin: auto;
}

main{
    background-image: linear-gradient(rgba($color: #ffffff, $alpha: .6), rgba($color: #ffffff, $alpha: .1)) ;
    padding: 20px;
    color: $textColor;

    text-align: justify;

    > p:first-of-type{
        width: 80%;
        margin: 32px auto 56px auto;
        font-size: small;
        font-style: oblique 20deg;
    }

    > p{
        margin: 32px auto;
    }

    > img:first-of-type{
        float: left;
        margin: 0 10px 5px 0;
    }
    
    > img:nth-of-type(2){
        float: right;
        margin: 0 0 5px 10px;
    }
    
    img{
        &:hover{
            opacity: .8;
        }
    }
}